# dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage

# next.js
.next/
out/

# 备份
backup/

# production
build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env
.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# uploaded files
/uploads
prisma/dev.db
upload

# volumes
volumes
upload/split-tmp/tables_2026-05-08T03-19-17_1.sql
upload/split-tmp/tables_2026-05-08T03-19-17_2.sql
